.itella-modal-btn {
    text-decoration: unset!important;
    text-align: center;
}
.itella-shipping-description {
    display: block;
    font-size: 80%;
    color: #999;
}

img.itella-logo {
    max-height: 30px;
    vertical-align: middle;
}
