.order-status {
    display: inline-flex;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    cursor: inherit !important;
    white-space: nowrap;
    max-width: 100%;
}

.order-status.status-completed{background:#c8d7e1;color:#2e4453}
.order-status.status-on-hold{background:#f8dda7;color:#94660c}
.order-status.status-failed{background:#eba3a3;color:#761919}
.order-status.status-processing{background:#c6e1c6;color:#5b841b}
.order-status.status-trash{background:#eba3a3;color:#761919}

.order-status > span {
    margin: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis
}

.call-courier-container, .mass-print-container {
  text-align: end;
  margin: 1em 0;
}

/*.notice {*/
/*  color: green;*/
/*  border: 1px green solid;*/
/*  border-left: 4px green solid;*/
/*  border-radius: 3px;*/
/*}*/

.itella-action-buttons-container {
  display: flex;
  justify-content: space-between;
}

.itella-manifest-date-title {
  /*font-size: .85rem;*/
  font-weight: 900;
  align-self: center;
}

.order_actions .itella_view_label, .order_actions .itella_generate_label {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    padding: 0!important;
    height: 2em!important;
    width: 2em;
}
.order_actions .itella_view_label::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f128";
    line-height: 1.85;
}
.order_actions .itella_generate_label::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f111";
    line-height: 1.85;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }

  .modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    max-width: 90%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  }

  .modal-content .alert-info {
      border-left: 4px solid #00a0d2;
      background: #fff;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
      margin-bottom: 20px;
      padding: 1px 12px;
  }

  .modal-content .alert-info p span,
  .modal-content div span {
      font-weight: 900;
  }

  .modal-content .field-block {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .modal-content .field-block .w-full {
    flex: 1;
  }

  .modal-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  font-size: 1em;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-decoration: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #dee2e6 #dee2e6 #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background: linear-gradient(#fff, #f1f1f1);
  border-color: #dee2e6 #dee2e6 #f1f1f1;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tablenav {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

.tablenav .tablenav-pages {
  margin: 0;
}

.tablenav-pages .page-numbers {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
}

.tablenav-pages .page-numbers:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.tablenav-pages .page-numbers.current {
  background-color: #fff;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.table-container * {
  box-sizing: border-box;
}

.itella-table {
  border-collapse: separate;
  border-spacing: 0 2px 0 0;
  margin-bottom: 5px;
  width: 100%;
  background-color: #fff;
}

.wp-list-table .fixed-width {
  width: 48px !important;
}

.wp-list-table td .param-title {
  color: #aaa;
}

.itella-filter input:not([type="checkbox"]) {
  height: 28px;
  border-radius: 3px;
  width: 100%;
  margin: 0;
  padding: 3px 6px;
}

.itella-filter {
  background-color: rgba(0, 115, 170, 0.5);
}

.itella-filter .datetimepicker {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  overflow: hidden;
}

.itella-filter .datetimepicker div {
  line-height: initial;
  position: relative;
  width: 100%;
}

.itella-filter .datetimepicker input {
  min-width: 90px;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 0;
}

.bootstrap-datetimepicker-widget {
  display: none;
  background-color: #fff;
  border: 1px solid grey;
}

/* a bit more intuitive manifest page's actions ui*/
.button-itella {
    text-align: center;
    margin: 5px 0!important;
    padding: 0 2px!important;
    width: 135px;
}

.button-itella-disabled {
    color: #888!important;
    border-color: #ccc!important;
    cursor: not-allowed!important;
}

.button-itella-disabled:hover {
    background-color: #f3f5f6!important;
}

.itella-grid-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.itella-grid-row-element-4 {
    grid-column-start: 4;
}

.itella-grid-row-element-7 {
    margin-left: 1.2rem;
    grid-column-start: 7;
}

#call-courier-form {
    display: inline-block;
}

#itella-show-pp-form {
  float: left;
}

.mass-print-container .button {
  vertical-align: middle;
}

.has-spinner {
  position: relative;
}
.has-spinner .spinner-holder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.has-spinner .spinner-holder.active {
  display: block;
}
.has-spinner .spinner-holder .spinner {
  float: unset;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%, -50%);
  transform: translate(-50%, -50%);
}

.itella-bulk-block {
  display: inline-block;
}

.itella-bulk-button-manifest {
  z-index: 1;
  position: relative;
}

.itella-manifest-switch {
  position: relative;
  display: inline-block;
  width: 84px;
  /*height: 22px;*/
  height: 30px;
  margin-right: -5px;
}
.itella-manifest-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.itella-manifest-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  /*border-radius: 5px;*/
  border-radius: 5px 0 0 5px;
}
.itella-manifest-switch .slider:before {
  position: absolute;
  content: "";
  /*height: 14px;*/
  height: 22px;
  width: 11px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.itella-manifest-switch input:checked + .slider {
  background-color: #7FB8D4;
}
.itella-manifest-switch input:focus + .slider {
  border-color: #7FB8D4;
}
.itella-manifest-switch input:checked + .slider:before {
  -webkit-transform: translateX(63px);
  -ms-transform: translateX(63px);
  transform: translateX(63px);
}
.itella-manifest-switch .on
{
  display: none;
}
.itella-manifest-switch .on, .itella-manifest-switch .off
{
  color: white;
  position: absolute;
  top: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  transform: translate(0%,-50%);
  width: 62px;
  text-align: center;
  text-transform: uppercase;
}
.itella-manifest-switch .on {
  left: 3px;
}
.itella-manifest-switch .off {
  right: 3px;
}
.itella-manifest-switch input:checked + .slider .on {
  display: block;
}
.itella-manifest-switch input:checked + .slider .off {
  display: none;
}