.itella-popup.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 9998;
}

.itella-popup.popup-overlay .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.itella-popup .popup-close {
  display: inline-block;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  cursor: pointer;
  z-index: 10;
}

.itella-popup .popup-message {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-left-width: 1px;
  border-left-color: rgb(195, 196, 199);
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  margin: 0;
  padding: 1px 12px;
}

.itella-popup .popup-message.notice-warning {
  border-left-color:#dba617;
}

.itella-popup .popup-message.notice-error {
  border-left-color:#d63638
}

.itella-popup .popup-message.notice-success {
  border-left-color:#00a32a
}

.itella-popup .popup-message.notice-info {
  border-left-color:#72aee6;
}

.itella-popup .popup-message.have-spinner {
  padding-right: 22px;
}

.itella-popup .popup-spinner {
  float: right;
  margin-top: -22px;
  margin-right: 2px;
}

.itella-popup .popup-spinner .spinner {
  margin: 0;
}
