/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

.d-none {
    display: none;
}

.itella-settings .invalid-value label {
    color: red;
}

.itella-order-quickview {
    padding: 0 1.5em;
}
.itella-order-quickview .quickview-row {
    margin-bottom: 1.5em;
}