/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

.d-none {
    display: none;
}

.itella-settings .invalid-value label {
    color: red;
}

.itella-order-quickview {
    padding: 0 1.5em;
}
.itella-order-quickview .quickview-row {
    margin-bottom: 1.5em;
}

.itella-settings .field-radio .radio-option {
  display: inline-block;
  margin-right: 10px;
}

.itella-settings .field-table table tr {
	transition: background .5s ease;
}
.itella-settings .field-table table th, .itella-settings .field-table table td {
	padding: 5px;
	line-height: unset;
}
.itella-settings .field-table table th {
	text-align: center;
}
.itella-settings .field-table table .column-values .from_value {
	width: 33%;
	vertical-align: middle;
	display: inline-block;
	color: #999;
	text-align: right;
}
.itella-settings .field-table table .column-values input[type="number"] {
	width: 65%;
	vertical-align: middle;
}
.itella-settings .field-table table .column-price {
	text-align: center;
	max-width: 100px;
}
.itella-settings .field-table table .column-price input[type="number"] {
	max-width: 90px;
}
.itella-settings .field-table table .column-actions {
	max-width: 30px;
}

.itella-settings .itella-hr {
  padding: 0;
}
.itella-settings .itella-hr hr {
  margin-bottom: 0;
}

.itella-settings .itella-section_name {
  padding-left: 0;
  padding-bottom: 0;
}

.itella-settings .itella-shipping_class input {
  max-width: 100px;
}
.itella-settings .itella-shipping_class label {
  margin-left: 10px !important;
}